body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/******** Navbar ******/

nav {
  background-color: #d9534f;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-left: 3rem;
  padding-bottom: 1rem;
}

nav > h2 {
  position: relative;
  left: 60;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  width: 35%;
  list-style: none;
  cursor: pointer;
}

/******** Items List ******/

.items-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}


/****** Item  box *********/
.item-box {
  background-color: #fff;
  margin: 10px;
  padding: 20px;
  width: 110px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.item-box h3 {
  margin: 10px;
}

.item-quantity {
  color: #fff;
  margin: 10px;
  background-color: #f0ad4e;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  max-width: 30px;
  position: relative;
  left: 40px;
}

.item-price {
  color: gray;
  font-size: 25px;
  padding: 5px;
}

.item-add-button {
  background-color: #5cb85c;
  border-radius: 1rem;
  color: #fff;
  border: none;
  font-size: 11px;
  cursor: pointer;
  height: 20px;
  animation: 1s ease;
}

.item-add-button:hover {
scale: 1.1;
opacity: 90%;
}

.item-minus-button {
  background-color: #d9534f;
  border-radius: 1rem;
  color: #fff;
  border: none;
  font-size: 11px;
  cursor: pointer;
  height: 20px;
  animation: 1s ease;
}

.item-minus-button:hover {
scale: 1.1;
opacity: 90%;
}

/****** Shopping Cart ********/

.cart-container {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.cart-count {
  background-color: #000;
  border-radius: 20px;
  padding: 8px;
}

.items-checkout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; 
}

.item-box-checkout {
  background-color: #fff;
  margin: 10px;
  padding: 20px;
  width: 110px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

/****** Animation ********/

.zoom {
  z-index: 999;
  position: absolute;
  top: 40px;
  right: 50%;
  width: 40px;
  opacity: 0;
  animation: zoom 1s ease forwards;
}

@keyframes zoom{
  0%{opacity: 0}
  50%{opacity: 1}
  100%{opacity: 0; right: 5px;}
}